<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to BlogPlatform!</h1>
    <p class="lead">This is your homepage. Here you can find the latest updates and news.</p>
    <hr class="my-4">
    <p>To get started, log in or register.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="<%= new_user_session_path %>" role="button">Log in</a>
      <a class="btn btn-secondary btn-lg" href="<%= new_user_registration_path %>" role="button">Register</a>
    </p>
  </div>
</div>
