<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Добро пожаловать на BlogPlatform!</h1>
    <p class="lead">Это ваша домашняя страница. Здесь вы можете найти последние обновления и новости.</p>
    <hr class="my-4">
    <p>Чтобы начать, войдите в систему или зарегистрируйтесь.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="<%= new_user_session_path %>" role="button">Войти</a>
      <a class="btn btn-secondary btn-lg" href="<%= new_user_registration_path %>" role="button">Зарегистрироваться</a>
    </p>
  </div>
</div>
